@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  font-family: "Poppins", "sans-serif";
  color: #3f3d56;
}

.home {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: scroll;
}

.sliders {
  display: grid;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  max-width: 900px;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  gap: 1em;
  box-shadow: 0px 4px 40px -5px rgba(0, 0, 0, 0.25);
  padding: 1em;
  border-radius: 10px;
  grid-area: slider;
}
.sliders .left, .sliders .right {
  width: 350px;
}
.sliders label {
  font-size: 1.2rem;
}

h1 {
  grid-area: h1;
}

.container {
  display: grid;
  grid-template-areas: "h1 h1" "slider result" "slider bottom";
}

.bottom {
  grid-area: bottom;
  align-self: end;
  justify-self: flex-end;
}
.value {
  font-weight: 600;
  width: 6ch;
  border: solid 1px gray;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 0.5em;
  margin-left: 0;
}

.info {
  display: flex;
  align-items: center;
}

input[type=checkbox] {
  width: 32px;
  height: 32px;
}

input[type=checkbox], input[type=range] {
  accent-color: #E85A5C;
}

.checky {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

input {
  background-color: transparent;
}

.result {
  font-size: 1.3rem;
  align-self: stretch;
  grid-area: result;
  margin-left: 1em;
  box-shadow: 0px 4px 40px -5px rgba(0, 0, 0, 0.25);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.result p {
  min-width: 14ch;
}

input[type=range] {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .home {
    background-size: cover;
    background-position: fixed;
    background-position: center center;
  }
  .container {
    grid-template-areas: "h1" "slider" "result" "bottom";
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
  }
  .container .result {
    margin-left: initial;
    position: fixed;
    bottom: 0;
    justify-self: center;
    right: 0;
    white-space: nowrap;
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
  }
  .sliders {
    max-width: 350px;
  }
  .bottom {
    margin-bottom: 3em;
  }
}/*# sourceMappingURL=Home.css.map */